body{height:771px;}
          .microsoft-bg {background: url(../img/backgroundimg.png) no-repeat;
                         background-size:100%;
                         }
                    .dell-pc{font-size:400%;
                             font-family: "微软雅黑";
                             margin-top: 20px;
                             margin-left: 90px;}
  .content{width:1120px;
               height:610px;
               margin: 0 auto;}
                                   .dell-img{margin-top: 80px;
                                             margin-left: 67px;
                                             float: left;}
                                     	.content-dell{margin-top: 140px;
                                                      font-size:14px;}
                                                .buy{font-size:50px;
                                                     font-family: "微软雅黑";
                                                     padding-top: 30px;
                                                     padding-left:70px ;
                                                     display: inline-block;
                                                     }
       